@font-face {
    font-family: "MyCustomFont";
    src: url("font/NotoColorEmoji-Regular.ttf");
}

.root-pane {
    /*-fx-background-color: linear-gradient(to bottom, #1e1e1e, #121212);*/
    -fx-end-margin: 10px;
    -fx-padding: 0px 0px 20px 0;
}

.song-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.control-box {
    -fx-background-color: rgba(255, 255, 255, 0.08);
    -fx-background-radius: 0;
    -fx-padding: 10;
}

.control-btn {
    -fx-font-family: sans-serif, "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", "MyCustomFont";
    -fx-font-size: 20px;
    -fx-padding: 8px;
    -fx-alignment: CENTER;
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.control-btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 50%;
}

.progress-slider{


}

.progress-slider .track{
    -fx-background-color: rgba(255, 255, 255, 0.7); /* trắng, 70% opacity */
    -fx-pref-height: 1px;  /* mỏng */
}

.slider .thumb {
    -fx-background-color: white;   /* trắng solid */
    -fx-pref-width: 8px;          /* nhỏ hơn mặc định */
    -fx-pref-height: 8px;
}

.time-label {
    -fx-text-fill: #ccc;
    -fx-font-size: 12px;
}
